<h2><%= l(:plugin_configuration_header) %></h2>

<div>
<%= form_tag( { controller: 'imapuserauth', action: 'updateDatabase' }) do %>
<table>
  <tbody>
    <tr>
      <th><%= l(:host) %></th>
      <td>
        <input type="text" id="settings_host" 
                           value="<%= @settings['host'] %>" 
                           name="settings[host]" >
      </td>
    </tr>
    <tr>
      <th><%= l(:port) %></th>
      <td>
        <input type="text" id="settings_port" 
                           value="<%= @settings['port'] %>" 
                           name="settings[port]" >
      </td>
    </tr>
    <tr>
      <th><%= l(:suffix) %></th>
      <td>
        <input type="text" id="settings_suffix" 
                           value="<%= @settings['suffix'] %>" 
                           name="settings[suffix]" >
      </td>
    </tr>
    <tr>
      <th><%= l(:auth_source_name) %></th>
      <td>
        <input type="text" id="settings_name" 
                           value="<%= @settings['name'] %>" 
                           name="settings[name]" >
      </td>
    </tr><tr>
      <th><%= l(:onthefly_register) %></th>
      <td>
        <%= check_box_tag "settings[otfr]", true, @settings[:otfr] %>
      </td>
    </tr>
    <tr>
      <th><%= l(:use_ssl) %></th>
      <td>
        <%= check_box_tag "settings[ssl]", true, @settings[:ssl] %>
      </td>
    </tr>
    <tr>
      <th><%= l(:bypass_ssl) %></th>
      <td>
        <%= check_box_tag "settings[bypass]", true, @settings[:bypass] %>
      </td>
    </tr>
    <tr>
      <td>
        <%= submit_tag l(:button_apply) %>
      </td>
    </tr>
  </tbody>
</table>
<% end %>
</div>

<a href="javascript:history.back()"><%= l(:go_back) %></a>