<h2>ImapuserauthController#index</h2>

<%#put it inside a form, that uses ImapuserauthController#updateDatabase%>
<table>
  <tbody>
    <tr>
      <th>IMAP Host Address</th>
      <td>
        <input type="text" id="settings_host" 
                           value="<%= @settings['host'] %>" 
                           name="settings[host]" >
      </td>
    </tr>
    <tr>
      <th>IMAP Host Port</th>
      <td>
        <input type="text" id="settings_port" 
                           value="<%= @settings['port'] %>" 
                           name="settings[port]" >
      </td>
    </tr>
    <tr>
      <th>IMAP E-mail Suffix</th>
      <td>
        <input type="text" id="settings_suffix" 
                           value="<%= @settings['suffix'] %>" 
                           name="settings[suffix]" >
      </td>
    </tr>
    <tr>
      <th>Authentication Source Name</th>
      <td>
        <input type="text" id="settings_name" 
                           value="<%= @settings['name'] %>" 
                           name="settings[name]" >
      </td>
    </tr><tr>
      <th>On the fly register:</th>
      <td>
        <%= check_box_tag "settings[otfr]", true, @settings[:otfr] %>
      </td>
    </tr>
    <tr>
      <th>Use SSL:</th>
      <td>
        <%= check_box_tag "settings[ssl]", true, @settings[:ssl] %>
      </td>
    </tr>
    <tr>
      <th>Bypass SSL:</th>
      <td>
        <%= check_box_tag "settings[bypass]", true, @settings[:bypass] %>
      </td>
    </tr>
    <%# doesn't work %>
    <tr>
      <th>Save settings:</th>
      <td>
        <input class="imapuserauth_controller" id="my_id" value="ImapuserauthController.updateDatabase" type="submit" />
      </td>
    </tr>
  </tbody>
</table>